.main {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 220px;
  border: 1px solid black;
}

.content {
  flex: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightblue;
  padding: 10px 20px;
}

.btn{
    height:40px;
    width:80px
}

